
<% if rooms.any? %>
  <ul class="list-unstyled">
    <% rooms.each do |room| %>
      <li class="media", style="width: 120px;">

        <div class="media-body">
          <%= link_to room.name, room_path(room), class: 'btn btn-outline-primary w-100' %>
        </div>
      </li>
    <% end %>
  </ul>

<% end %>