

<ul style="padding: 8px 0 0 0; margin: 0;">　Coll of Duty
  <li id="sidebar1"><a href="/rooms/5" id="sidebar2">　　CoD:WZ</a></li>
  <li id="sidebar1"><a href="/rooms/1" id="sidebar2">　　CoD:MW</a></li>
  <li id="sidebar1"><a href="/rooms/2" id="sidebar2">　　CoD:BO4</a></li>
  <li id="sidebar1"><a href="/rooms/3" id="sidebar2">　　CoD:WW2</a></li>
  <li id="sidebar1"><a href="/rooms/4" id="sidebar2">　　CoD:IW</a></li>
  <li id="sidebar1"><a href="/rooms/6" id="sidebar2">　　CoD:BO3</a></li>
</ul>
<ul style="padding: 4px 0 0 0; margin: 0;">　Battlefield
  <li id="sidebar1"><a href="/rooms/7" id="sidebar2">　　BFV</a></li>
  <li id="sidebar1"><a href="/rooms/8" id="sidebar2">　　BF1</a></li>
  <li id="sidebar1"><a href="/rooms/9" id="sidebar2">　　BF4</a></li>
</ul>
<ul style="padding: 0; margin: 0;">
<li id="sidebar1"><a href="/rooms/10" id="sidebar2">　R6S</a></li>  
<li id="sidebar1"><a href="/rooms/15" id="sidebar2">　Overwatch</a></li>  
<li id="sidebar1"><a href="/rooms/11" id="sidebar2">　Apex Legends</a></li>  
<li id="sidebar1"><a href="/rooms/12" id="sidebar2">　PUBG</a></li>  
<li id="sidebar1"><a href="/rooms/13" id="sidebar2">　荒野行動</a></li>  
<li id="sidebar1"><a href="/rooms/14" id="sidebar2">　フォートナイト</a></li>  
</ul>
