
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block" style="border-right: solid 1px #cccccc; padding: 0;">
      <div class="sidebar_fixed">
        <%= render 'rooms/rooms', rooms: @rooms %>
      </div>
    </div>
    <div class="col-md-7", style="padding: 0;">
      <%= render "microposts/microposts", microposts: @microposts %>
    </div>
    <div class="col-md-3" style="border-left: solid 1px #cccccc;">
      <div class="sidebar_fixed" style="padding-top: 10px; padding-bottom:20px;">
        <%= render "layouts/right_sidebar" %>
      </div>
    </div>
  </div>
</div>