<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block">
      <div class="sidebar_fixed">
        <%= render 'rooms/rooms', rooms: @rooms %>
      </div>
    </div>
    <div class="col-md-7", style="padding: 0;">
      <%= render "microposts/microposts", microposts: @microposts %>
    </div>
    <div class="col-md-3 right-sidebar1">
      <div class="sidebar_fixed right-sidebar2">
        <%= render "layouts/right_sidebar" %>
      </div>
    </div>
  </div>
</div>