
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block" style="background: #bbbbbb; padding: 0;">
      <div class="sidebar_fixed">
        <%= render 'rooms/rooms', rooms: @rooms %>
      </div>
    </div>
    <div class="col-md-7", style="padding: 0;">
      <%= render "microposts/microposts", microposts: @microposts %>
    </div>
    <div class="col-md-3", style="background: #bbbbbb;">
      お知らせ
    </div>
  </div>
</div>