/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header {
    margin-bottom :21px;
}

.alert {
    margin: 0;
}

body {
    padding-top: 4px;   /* navbar固定で埋まってしまうため */
    color: #333;
    background-color: #fff;
}

.navbar {
    background: linear-gradient(#0f2017, #203a43, #2c5364);
    padding: 0;
}

.navbar-brand {
    padding: 0 0 0 18px;
    font-family: Impact;
    font-size: 35px;
}

.navbar-toggler {
    border: 0;
    padding: 0 18px 0 0;
}

/*userマーク*/
.fa-user-circle {   
    color: #eeeeee;
}

nav div .nav-image {
    border-radius: 50%;
    margin-top: 4px;
}

nav div .fa-user-circle {
    font-size: 2rem;
    margin-top: 4px;
}

#myicon {
    display: block;
    margin: 0 0 0 auto;
    margin-right: 10px;
}

nav ul a .nav-dropdown:hover {
    background-color: #708090;
}

nav ul .dropdown-menu {
    background: none;
    border: none;
    padding: 0;
}

nav ul .dropdown-item {
    color: white;
    padding-left: 60px;
}

nav ul .dropdown-item:hover {
    background-color: #708090;
    color: white;
}

nav li .navbar-menu {
    padding: 4px 0 4px 40px;
    color: white;
    display: block;
}

.navbar-menu:hover {
    background-color: #708090;
    color: white;
    text-decoration: none;
}


/*sidebar*/

.sidebar1 {
    padding-left: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar2:hover {
    color: #333;
    background-color: #dddddd;
    text-decoration: none;
}

.sidebar3:hover {
    color: #333;
    background-color: #dddddd;
    text-decoration: none;
}

.sidebar1 a.active {
  color: white;
  background-color: #009378;
}

.sidebar2 {
    color: #333;
    display: block;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
}

.sidebar3 {
    color: #333;
    display: block;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 18px;
}

.sidebar_fixed {
  position: sticky;
  top: 52px;
}

.right-sidebar2 {
    padding: 10px 0 20px 0;
}

@media screen and (min-width:768px) {
    .right-sidebar1 {
        border-left: solid 1px #cccccc;
    }
}

.d-md-block {
    border-right: solid 1px #cccccc;
    padding: 0;
}

.text-muted {
    display: inline-block;
    height: 20px;              /* 高さ指定 */
}

#menu1 {
    float: right;
}

@media screen and (max-width:600px) { 
  #profile-image1 {
      display: none;
  }
}

@media screen and (min-width:600px) { 
  #profile-image2 {
      display: none;
  }
}

@media screen and (max-width:600px) { 
  #profile-icon1 {
      display: none;
  }
}

@media screen and (min-width:600px) { 
  #profile-icon2 {
      display: none;
  }
}

.media {
    margin: 10px;
}

.media-body {
    margin-right: 10px;
    margin-bottom: 10px;
}

.border {
    border-radius: 20px;
    box-shadow: 0 0 5px #dddddd;
}

#img {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    
}

img {
    max-width: 100%;
}

.self_introduction {
    margin-top: 30px;
    margin-left: 10px;
}

#icon1 {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: -5px;
}

div #icon1 .fa-user-circle {
    font-size: 3rem;
    margin-right: 10px;
}

#inquiry1 {
    margin-left: 3px;
    font-size: 12px;
    background-color: #f89406;;
    color: white;
    border-radius: 15%;
    padding: 0 4px 0 4px;
}

