/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding-top: 8px;   /* navbar固定で埋まってしまうため */
}


/*userマーク*/
.fa-user-circle {   
    color: #eeeeee;
}


.text-muted {
    display: inline-block;
    height: 20px;              /* 高さ指定 */
}

#menu1 {
    float: right;
}

.media {
    margin: 10px;
}

.media-body {
    margin-right: 10px;
    margin-bottom: 10px;
}

.border {
    border-radius: 20px;
    box-shadow: 0 0 5px #dddddd;
}

#img {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    
}

img {
    max-width: 100%;
    
}

#icon1 {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: -5px;
}

/*投稿一覧のスプリットレイアウト*/
  .split{
    display: table;
    width: 100%;    
}
.split-item{
    display: table-cell;
}
.split-left{
    position: relative;
    width: 20%;
    border-right: solid 1px #dddddd;
}
.split-left__inner{
    height: 100%;
    position: fixed;
    width: 0%;
}
.split-right__inner{
  position: fixed;
    height: 100%;  
}

.split-right {
  border-left: solid 1px #dddddd;
}

@media screen and (max-width:600px){
  .split-left{
  display: none;
  }
}

#myicon {
    display: block;
    margin: 0 0 0 auto;
    margin-right: 10px;
}